---
layout: default
title: 247Handyman – Home repairs experts
---

{% include global/header.liquid %}

<div>
	<div class="mw8 ph3 pv5 center">
		{% include benefits.liquid %}
	</div>
</div>


<div class="bg-near-white">
	<div class="mw8 ph3 pv5 center">
		<h2 class="tc f2-ns">Locations</h2>
		<ul class="lh-copy-l list tc pa0">
			<li>Abridge</li>
			<li>Barkingside</li>
			<li>Buckhurst Hill</li>
			<li>Chigwell</li>
			<li>Chingford</li>
			<li>Clayhall</li>
			<li>Debden</li>
			<li>Epping Forest</li>
			<li>Ilford</li>
			<li>Loughton</li>
			<li>Redbridge</li>
			<li>Romford</li>
			<li>South Woodford</li>
			<li>Theydon Bois</li>
			<li>Walthan Abbey</li>
			<li>Wanstead</li>
			<li>Woodford</li>
		</ul>
	</div>
</div>

<div style="background-color: #FFBC00;">
	<div class="mw8 ph3 pv5 center">
		{% include get-a-quote.liquid %}
	</div>
</div>

<div>
	<div class="mw8 ph3 pv5 center">
		{% include common-services.liquid %}
	</div>
</div>

<div class="bg-near-white">
	<div class="mw8 ph3 pv5 center">
		{% include testimonials.liquid %}
	</div>
</div>

<div class="bg-dark-gray white">
	<div class="mw8 ph3 pv5 center">
		{% include global/footer.liquid %}
	</div>
</div>
