<h2 class="tc f2-ns">Get a free quote</h2>
<div class="tc f4 lh-solid">
	<p class="ma0">{{ site.phone1 }} — {{ site.phone2 }}</p>
	<p class="ma0 mt1"><a href="mailto:{{ site.email }}" class="link near-black">{{ site.email }}</a></p>
</div>
